<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    
    <!--数据库的配置-->
    <add key="DriverNameStr" value="Provider=Microsoft.Ace.OLEDB.12.0;"/>
    <add key="PersistSecurityStr" value="Persist Security Info=False;"/>
    <!--<add key="DataSourceStr" value="Data Source=N:\Transfer GSC\2019_allocateMarcoToolDB\V5.0\XFundb.accdb"/>-->
    <add key="DataSourceStr" value="Data Source=C:\Users\ShiMao\Desktop\KR\XFundb.accdb"/>
    
    <!---邮箱的配置-->
    <add key="MailAddressName" value="Dgfeinv (DHL CN)"/>
    <add key="InboxName" value="Inbox"/>
    <add key="SourceboxName" value="Source"/>
    <add key="OutboxName" value="Out"/>
    <add key="MailFolder" value="N:\Transfer GSC\2019_allocateMarcoToolDB\XFunEmail\"/>
    
  </appSettings>
</configuration>